@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap');

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #8B0000;
  color: white;
}

.slimste-red-bg {
  background-color: #990000;
  background-image: radial-gradient(circle at center, #b30000 0%, #800000 100%);
}