@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap');

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #a30000; /* Lichter dan #8B0000 */
  color: white;
}

.slimste-red-bg {
  background-color: #b30000; /* Lichter dan #990000 */
  background-image: radial-gradient(circle at center, #c90000 0%, #990000 100%); /* Veel frisser verloop */
}