@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap');

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #c00000;
  color: white;
}

.slimste-red-bg {
  background-color: #d00000;
  background-image: radial-gradient(circle at center, #ff4d4d 0%, #b30000 100%);
}